.bar {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: fit-content;
  gap: 32px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.bar a {
  color: #9e9e9e;
  text-decoration: none;
  padding-top: 3px;
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: 15px;
  /* letter-spacing: 0.1s; */
}
